<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>All Images</title>
</head>

<body>

    <h1 class="text-center my-3">All Images</h1>

    <div class="container w-75">
        <div class="row">
            <% images.forEach(img => { %>
            <div class="col-4">
                <img style="border: 3px solid grey;" class="mx-4 my-3 p-1" height="250" width="250" src="<%= img.imgUrl %>">
                <form style="display: inline;" action="/delete/<%= img.id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button style="cursor: pointer;" type="submit"
                        class="btn btn-danger float-none mx-4 px-5">Delete</button>
                </form>

            </div>
            <% }) %>

        </div>
    </div>

</body>

</html>