<%- include('partials/header') -%>
<div class="container mt-5 w-50">

    <h2 class="mb-4">Add New Employee</h2>

    <form action="/employee/new" method="POST">
        <input type="text" name="name" class="form-control" placeholder="Employee Name">

        <input type="text" name="designation" class="form-control" placeholder="Employee Designation">

        <input type="text" name="salary" class="form-control" placeholder="Employee Salary">

        <button type="submit" class="btn btn-danger btn-block mt-3">Add to Database</button>

    </form>
</div>
<%- include('partials/footer') -%>