<!DOCTYPE html>
<html>

<head>
    <title>Employee Database System</title>

    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
    <link href="../libs/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/design.css">

    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/jquery.dataTables.min.js"></script>
    <script src="../libs/dataTables.bootstrap4.min.js"></script>

</head>

<body>
    <nav class="py-1 navbar navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand text-white ml-4" href="/"><b>Employee Database System</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

            <div class="mr-5">
                <ul class="navbar-nav mr-auto mr-0">

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/employee/new">Add new Employee</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/employee/search">Search</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>