<html>
    <head>

        <link rel="stylesheet" href="/stylesheets/design.css">

    </head>

    <body>
        <h1>Stack Over Flow</h1>

        <p> <%= id %> </p>
        <p> <%= username %> </p>        
    </body>
</html>


