#searchh1 {
    margin-top: 20%;
}

body{
    background-color: #f5f5f5;
}

.card-title {
    font-family: Lato;
}

.card {
    margin-left: 12.5%;
}

.card-img{
    height: 24rem;
}

#searchHeading {
    margin-left: 12.5%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: Montserrat;
    font-weight: 700;
}