<%- include('partials/header') -%>
<h1 class="text-center mt-5 mb-3">Change Password</h1>
<div class="container w-25">
    <%- include('partials/messages') -%>
    <form action="/password/change" method="POST">

        <div class="form-group px-0">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group px-0">
            <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password">
        </div>

        <button type="submit" class="btn btn-danger btn-block">Change Password</button>
    </form>
</div>

</div>


<%- include('partials/footer') -%>