<%- include('partials/header') -%>

<h1 class="text-center mt-5 mb-3">Forgot Password</h1>
<div class="container w-25">
    <%- include('partials/messages') -%>
    <form action="/forgot" method="POST">

        <div class="form-group px-0">
            <input type="email" name="email" class="form-control" placeholder="Enter Email Address">
        </div>
        <button type="submit" class="btn btn-danger btn-block">Send Email</button>
    </form>
    <a class="float-right" href="/login">Back to Login</a>
</div>


</div>

<%- include('partials/footer') -%>